[Unit]
Description=Adjust u-boot configuration according to boot device
Before=mender-updated.service

[Service]
Type=oneshot
ExecStart=/usr/bin/edi-adjust-uboot

[Install]
WantedBy=mender-updated.service
